/* CSS */
html, body {
  margin: 0;
  padding: 0;
  width: 100vw; /* 画面の幅に合わせる */
  height: 100vh; /* 画面の高さに合わせる */
}

header {
  background-color: #FF7700;
  color: white;
  text-align: left;
  padding: 10px 0;
  width: 100%;
  margin: 0;
}

.container {
  width: 100vw; /* 画面の幅に合わせる */
  height: 100vh; /* 画面の高さに合わせる */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
}

.content {
  width: 80vw; /* 画面の幅の80%に設定 */
  height: 80vh; /* 画面の高さの80%に設定 */
  background-color: white;
  border: 2px solid #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header_link {
  margin: 0;
  color: white;
  text-decoration: none;
  font-weight: 400;
  line-height: 1.5;
  overflow: hidden;
  left: 10px;
  display: inline-block;
  width: 100px;
  text-align: center;
}

.header_link:hover {
  font-weight: 550;
}

body *:not(header) {
  margin: 5px;
}
