.main {
  display: flex;
  flex-wrap: wrap;
}

.input,
.output {
  flex: 1;
}

.time {
  margin-top: 5px;
}

.time label input {
  width: 80.7px;
}

.input {
  border-right: 3px solid #333;
}

.output {
  margin-left: 5%;
}

label {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
}

@media (max-width: 600px) {
  .main {
    flex-direction: column;
  }

  .input {
    margin-bottom: 15px;
    padding-bottom: 30px;
    border-right: none;
    border-bottom: 3px solid #333;
  }

  .output {
    margin-left: 0;
  }
}
