* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "YakuHanJP", "Inter", "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  background-color: #028760;
}

noscript > div {
  max-width: 95%;
  width: fit-content;
  padding: 10px;
  padding-top: 0;
  border: 3px solid #333;
  border-radius: 7.5px;
}

#js-enabled[hidden] {
  display: none;
}

.frame {
  width: calc(100% - 20px);
  margin: 10px auto;
  padding: 20px;
  background-color: #fcc800;
  border: 3px solid #333;
  border-radius: 15px;
}

input {
  padding-left: 7.5px;
  background-color: #bce2e8;
  border: 2px solid #333;
  border-radius: 7.5px;
  font-family: inherit;
}

.title {
  margin: 0;
}
